html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    text-align: center;
    font-family: Avenir;
    border: 1px solid green ;
    background-color: white ;
    padding: 15px;
    margin: 250px;
    min-height:100%;
}

a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color:orange;
}
a:focus{
  color:green;
}
a:active{
  color:red;
}
